body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(232, 234, 237);
    font-family: 'Khand', sans-serif;
    margin: auto;
    width: 50%;
    overflow: hidden;
}

#pre {
    margin-top: 50px;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

#title {
    margin-bottom: 0px;
    font-weight: 700;
}

.green {
    color: rgb(52, 179, 86);
}

#subtitle {
    margin-top: 5px;
    font-weight: 400;
}

#menu {
    margin-left: 10px;
}

#information {
    float: right;
    padding: 10px;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    line-height: 20px;
}

#plants {
    transition: visibility 0.2s linear, opacity 0.2s linear;
    margin: 10px;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}

#edit {
    transition: visibility 0.2s linear, opacity 0.2s linear;
    margin: 10px
}

#bar {
    position: relative;
    height: 300px;
    width: 480px;
    display: table;
    margin: 0 auto;
}

.bar-data {
    position: absolute;
    border-radius: 5px;
    width: 25px;
    background-color: rgb(52, 179, 86);
    bottom: 0;
}

.plant {
    transition: all 0.2s linear;
    border-radius: 8px;
    margin-top: 5px;
    height: 50px;
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}

.plant:hover {
    background-color: rgb(34, 34, 34);
}

.plant.selected {
    background-color: rgb(44, 44, 44);
}

.plant.selected:hover {
    background-color: rgb(54, 54, 54);
}


.plant-name {
    display: inline;
    font-weight: 200;
    line-height: 50px;
    margin: 0 0 0 20px;
}

.room-name {
    line-height: 50px;
    float: right;
    font-weight: 200;
    display: inline;
    margin: 0 20px 0 0;
}

.status {
    border-radius: 8px;
    height: 50px;
    width: 25px;
    float: left;
}

.ok {
    background-color: rgb(52, 179, 86);
}

.warning {
    background-color: rgb(197, 195, 56);
}

.danger {
    background-color: rgb(180, 52, 52);
}

span#all {
    color: rgb(52, 179, 86);
    font-weight: 700;
    margin-left: 5px;
}

span#yellow {
    color: rgb(197, 195, 56);
    font-weight: 700;
}

span#red {
    color: rgb(180, 52, 52);
    font-weight: 700;
}

#amber-icon {
    padding: 0;
    font-size: 15px;
    vertical-align: bottom;
    margin: 0px 5px 9px -3px;
    color: rgb(197, 195, 56);
}

#danger-icon {
    padding: 0;
    font-size: 15px;
    vertical-align: bottom;
    margin: 0px 5px 9px -3px;
    color: rgb(180, 52, 52);
}

#all-icon {
    padding: 0;
    font-size: 15px;
    vertical-align: bottom;
    margin: 0px 5px 9px -3px;
    color: rgb(52, 179, 86);
}

.material-icons {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: all 0.2s linear;
    color: rgb(61, 62, 65);
}

.spacing {
    margin-left: 40px;
}

.material-icons.material-icons-available {
    color: rgb(232, 234, 237);
}

.material-icons.material-icons-available.blue {
    color: rgb(44, 146, 214);
}

.material-icons.material-icons-available:hover {
    color: rgb(160, 164, 170);
}

.hide {
    opacity: 0;
    height: 0;
    width: 0;
    max-height: 0;
    max-width: 0;
    margin: 0 !important;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
}

.delete {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
    max-height: 0;
    max-width: 0;
    margin: 0 !important;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
}

input {
    transition: all 0.2s linear;
    border-radius: 8px;
    display: block;
    margin-top: 5px;
    height: 50px;
    max-height: 50px;
    width: 100%;
    font-size: 28px;
    border: 0;
    background-color: rgb(24, 24, 24);
    color: rgb(232, 234, 237);
    font-family: 'Khand', sans-serif;
    box-sizing: border-box;
    padding-left: 30px;
    font-weight: 200;
    line-height: 50px;
}

input:hover {
    background-color: rgb(34, 34, 34);
}

input:focus {
    outline: 0;
    background-color: rgb(44, 44, 44);
}

input:focus:hover {
    outline: 0;
    background-color: rgb(54, 54, 54);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    transition: all 0.2s linear;
    width: 20px;
  }


::-webkit-scrollbar-track {
    background: rgb(32, 33, 36);
}


::-webkit-scrollbar-thumb {
    background: rgb(61, 62, 65);
    border: 5px solid rgb(32, 33, 36);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 66, 70);
    border: 5px solid rgb(32, 33, 36);
}

::selection {
    background: rgb(52, 179, 86);
}
::-moz-selection {
    background: rgb(52, 179, 86);
}



#custom-select-time {
    width: 130px;
    display: inline-block;
}

  .custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none;
  }
  
  .select-selected {
    transition: all 0.2s linear;
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: rgb(232, 234, 237);
    font-family: 'Khand', sans-serif;
    margin: 0;
  }
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: rgb(232, 234, 237);
    font-family: 'Khand', sans-serif;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    line-height: 25px;
  }
  
  .select-hide {
    display: none;
  }
  
option:hover, .same-as-selected {
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
}

.open-modal {
    visibility: visible !important;
    opacity: 1 !important;
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }
  
#modal {
    background-color: rgb(24, 24, 24);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.5rem;
  }


#modal-title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 22px;
    color:rgb(46, 100, 61);
}

#modal-subtitle {
    margin-top: 0;
    font-size: 25px;
}

#modal-subtitle-badge {
    font-size: 25px;
    background-color: rgb(52, 179, 86);
    padding: 3px 7px 0px 7px;
    border-radius: 6px;
}

.modal-content {
    margin: 10px;
    font-size: 20px;
    font-weight: 200;
    padding-left: 4%;
    text-indent: -4%;
}
  
button {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Khand', sans-serif;
    border: none;
    padding: 10px 30px;
    margin-top: 35px;
    font-size: 1rem;
    border-radius: 8px;
}

.abort-button {
    background-color: rgba(0,0,0,0);
}

button:hover {
    background-color: rgb(44, 44, 44);
}

.abort-button:hover {
    background-color: rgba(34, 34, 34, 0.2);
}
  
#close-button {
    color: white;
    align-self: flex-end;
    transition: all 0.2s linear;
}
  
#close-button:hover {
    cursor: pointer;
    color: rgb(168, 50, 50);
}